extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
  - let Apple_id = toShow._id
  - let Apple_name = toShow.name
  - let Apple_color = toShow.color
  - let Apple_price = toShow.price
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{Apple_id}

  - let actionid = "/resource/Apple/" + Apple_id
  form(id='AppleForm', action= actionid, method="PUT")
    div.form-group
      label.AppleAttr(for='name')  Apple name
      input#name(type='text', name='name', value= Apple_name)

    div.form-group
      label.AppleAttr(for='color') Apple color
      input#color(type='text', name='color', value= Apple_color)

    div.form-group
      label.AppleAttr(for='color') Apple price
      input#price(type='number', name='price', value= Apple_price)

    input(type="submit")

  script.
    document.forms['AppleForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error);
      });
    });